@import url('./_vars.css');

image-editor {
    display: inline-block;
}

.image-editor-container {
    position: relative;
    outline: var(--image-editor-outline-width)
        var(--image-editor-outline-style)
        var(--image-editor-outline-color);
}

.image-editor-overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: var(--image-editor-overlay-padding);
    pointer-events: none;
}

.image-editor-overlay > * {
    pointer-events: auto;
}

.image-editor-controls {
    display: flex;
    margin-left: auto;
}

.image-editor-overlay button.edit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--image-editor-button-size);
    height: var(--image-editor-button-size);
    padding: var(--image-editor-button-padding);
    border: var(--image-editor-button-border-width) solid
        var(--image-editor-button-border);
    background: var(--image-editor-button-bg);
    color: var(--image-editor-button-color);
    cursor: pointer;
}

.image-editor-overlay button.edit svg {
    width: var(--image-editor-button-size);
    height: var(--image-editor-button-size);
    fill: none;
    stroke: currentcolor;
    stroke-width: var(--image-editor-button-icon-stroke-width);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.image-editor-handle {
    position: absolute;
    z-index: 1;
    width: var(--image-editor-handle-size);
    height: var(--image-editor-handle-size);
    background: var(--image-editor-handle-bg);
    border: var(--image-editor-handle-border-width) solid
        var(--image-editor-handle-border);
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

.image-editor-handle.top-left {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.image-editor-handle.top-right {
    top: 0;
    right: 0;
    cursor: nesw-resize;
    transform: translate(50%, -50%);
}

.image-editor-handle.bottom-left {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
    transform: translate(-50%, 50%);
}

.image-editor-handle.bottom-right {
    right: 0;
    bottom: 0;
    cursor: nwse-resize;
    transform: translate(50%, 50%);
}

/**
 * Don't show until JavaScript is instantiated
 */
image-editor:not(:defined) {
    display: none;
}
