@import url('./_vars.css');

image-editor {
    display: inline-block;
}

.image-editor-container {
    position: relative;
}

/**
 * Don't show until JavaScript is instantiated
 */
image-editor:not(:defined) {
    display: none;
}
